@model IEnumerable<Works>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" />

<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Мои работы</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="btn btn-sm btn-secondary" asp-controller="Master" asp-action="AddWork">Добавить</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                 @if (Model.Count() > 0)
                {
                    foreach (Works work in Model)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="profile-card">
                                <div class="profile-img">                           
                                    <img class="img-thumbnail" style=" border-style: none; " src="data:image/jpeg;base64,@(Convert.ToBase64String(work.Image))" alt="" />                           
                                </div>
                                <div class="profile-content">

                                    <a class="btn btn-secondary" onclick="openModel(@work.Id)">Удалить</a>
                                </div>
                            </div>                                                      
                        </div>
                    }
                }
            
            </div>
        </div>
     </div>
</div>



<div class="modal fade" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Работа успешно удалена!</h1>
                
            </div>
            @* <div class="modal-body py-0">
            <p>This is a modal sheet, a variation of the modal that docs itself to the bottom of the viewport like the newer share sheets in iOS.</p>
            </div>*@
            <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg  btn-save btn-primary w-100 mx-0 mb-2" onclick="save()">Save changes</button>
                <button type="button" class="btn btn-close btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var modal = $('#modal');

        $(".btn-close").click(function (evt) {
            evt.preventDefault();
            modal.modal('hide');
           

        });
        var idWork=0;

        function openModel(id) {
           idWork=id;
            modal.modal('show');

        };
        function save() {
            $.ajax({
                url:'@Url.Action("DeleteWork")',
                data:{"id":idWork},
                success:function(response){
                   modal.modal('hide');
                   document.location.href = '@Url.Action("ListWorks","Master")';
                },
                error:function(response){
                    alert(response.responseText);
                }
            });
            
        };
    </script>

}