@model IEnumerable<User>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                <a class="btn btn-sm btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Редактировать</a>
            </td>
        </tr>
    }
    <div> <a class="btn btn-sm btn-primary" asp-controller="User" asp-action="Create" >Добавить</a></div>
</table>