body {
    margin-top: 80px;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, .85);
}
/*Head*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

li .nav-item a {
    color: #ffffff;
}
li .nav-item a:hover {
    color: #fff;
}
.navbar {

    background-color: rgba(0, 0, 0, .85);
    opacity:0.7;
    /*background-color:white;*/
}
    .navbar .form-control {
        padding: .75rem 1rem;
     
        border-width: 0;
        border-radius: 0;
    }
.form-control-dark {
   
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/*.navbar-toggler-icon, .navbar-toggler {
    color: white;
}*/

.alert-badge::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 17px;
    border: 0.5px solid #272727;
    border-radius: 0;
    background-color: firebrick;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

    #footer .footer-top {
        background: #151515;
        border-bottom: 1px solid #222222;
        padding: 60px 0 30px 0;
    }

        #footer .footer-top .footer-info {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-info h3 {
                font-size: 28px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-weight: 700;
                text-transform: uppercase;
            }

                #footer .footer-top .footer-info h3 span {
                    color: #ffc451;
                }

            #footer .footer-top .footer-info p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: "Raleway", sans-serif;
                color: #fff;
            }

        #footer .footer-top .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #292929;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 4px;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }

            #footer .footer-top .social-links a:hover {
                background: #ffc451;
                color: #151515;
                text-decoration: none;
            }

        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
        }

        #footer .footer-top .footer-links {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-links ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                #footer .footer-top .footer-links ul i {
                    padding-right: 2px;
                    color: #ffc451;
                    font-size: 18px;
                    line-height: 1;
                }

                #footer .footer-top .footer-links ul li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                }

                    #footer .footer-top .footer-links ul li:first-child {
                        padding-top: 0;
                    }

                #footer .footer-top .footer-links ul a {
                    color: #fff;
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;
                }

                    #footer .footer-top .footer-links ul a:hover {
                        color: #ffc451;
                    }



    #footer .copyright {
        text-align: center;
        padding-top: 30px;
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #fff;
    }
