
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="met-profile">
                <div class="row">
                    <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                        <div class="met-profile-main">
                            <div class="met-profile-main-pic">
                                @*<img src="assets/images/users/user-4.jpg" alt="" height="110" class="rounded-circle">*@
                                @*<span class="met-profile_main-pic-change">
                                    <i class="fas fa-camera"></i>
                                </span>*@
                            </div>
                            <div class="met-profile_user-detail">
                                <h5 class="met-user-name">Rosa Dodson</h5>
                                <p class="mb-0 met-user-name-post">UI/UX Designer, India</p>
                            </div>
                        </div>
                        <div class="col-lg-4 ms-auto align-self-center">
                            <ul class="list-unstyled personal-detail mb-0">
                                <li class=""><i class="las la-phone mr-2 text-secondary font-22 align-middle"></i> <b> phone </b> : +91 23456 78910</li>
                                <li class="mt-2"><i class="las la-envelope text-secondary font-22 align-middle mr-2"></i> <b> Email </b> : mannat.theme@gmail.com</li>                              
                            </ul>
                        </div><!--end col-->
                    </div><!--end col-->
                </div>
            </div>
        </div>
    </div>
</div>
